*{
  margin: 0px;
  padding: 0px;
}
html{
  background-image: url("wbackground.png");
  background-size: cover;
  background-attachment: fixed;
}
h1{
  text-align: center;
  width: 100%;
  font-family: Hoefler Text;
  font-weight: 200;
  font-size: 50pt;
  padding: 2%;
  color: #1f1f1f;
  margin-top: 2%;
}
p, table, tr, td{
  text-align: center;
  width: 100%;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16pt;
  padding: 2%;
  color: #1f1f1f;
}
table{
  width: 60%;
  margin: 20%;
  margin-top: 2%;
  margin-bottom: 1%;
  border-collapse: collapse;
}
table, th, td {
  border: 1px solid #1f1f1f;
  background-color: #e8e8e880;
}
form{
  width: 100%;
  text-align: center;
}
input[type=submit] {
  background-color: #e8e8e880;
  padding: 5pt;
  border: 1px solid #1f1f1f;
}
input[type=text] {
  background-color: #e8e8e880;
  padding: 5pt;
  border: 1px solid #1f1f1f;
  font-family: sans-serif;
  font-weight: 200;
  font-size: 16pt;
}
hr{
  border-top: 3px solid #1f1f1f;
  margin: 15%;
  width: 70%;
  margin-top: 1%;
  margin-bottom: 2%;
}
#textAlert{color: #690716;}
#help{
  position: absolute;
  top: 0px;
  right: 0px;
width: auto;
  font-size: 30pt;
}
